<%- include('header'); -%>
    <div class = "content" >
        <h1>NAME</h1>
        <h2>Heriot Watt Store</h2>
        <br>
        <h1>ADDRESS</h1>
        <h2>Hessa St. Knowledge Village, Dubai, UAE</h2>
        <br>
        <h1>PHONES</h1>
        <h2>0501237654 - 037213456</h2>
        <br>
        <h1>EMAIL</h1>
        <h2>hwwscontact@gmail.com</h2>
        <br>
    </div>
<%- include('footer'); -%>