<%- include('header'); -%>
    <div class = "register">
        <h3>
            Could not register the account since the username [<%=username%>] already taken! Please <a href="/register">REGISTER</a>
        </h3>
    </div>
<%- include('footer');-%>