<%- include('header'); -%>
    <div class = "login">
        <h3>
            <%= message %>
        </h3>
        <h3>
            Please register to continue. [<a href= "/register">REGISTER</a>]
        </h3>
    </div>
<%- include('footer');-%>