<%- include('header'); -%>
    <div class = "content" >
        <form action = "/api/register" method = "post">
            <label for = "name">NAME: </label><br>
            <input type="text" name="name" required><br>

            <label for = "phone">PHONE: </label><br>
            <input type="text" name="phone" required><br>

            <label for = "society">SOCIETY: </label><br>
            <input type="text" name="society" required><br>

            <label for = "address">ADDRESS: </label><br>
            <input type="text" name="address" required><br>

            <label for = "city">CITY: </label><br>
            <input type="text" name="city" required><br>

            <label for = "zipcode">ZIP CODE: </label><br>
            <input type="text" name="zipcode" required><br>

            <label for = "fax">FAX: </label><br>
            <input type="text" name="fax" required><br>

            <label for = "max_outstanding">MAX OUTSTANDING: </label><br>
            <input type="text" name="max_outstanding" required><br>

            <label for = "username">USERNAME: </label><br>
            <input type="text" name="username" required><br>

            <label for = "password">PASSWORD: </label><br>
            <input type="password" name="password" required><br>

            <button type="submit">REGISTER</button>
        </form>
    </div>
<%- include('footer'); -%>